body {
    background-color: #e1e1e4;
    margin: 0;
    color: black;
}

#main-col {
    background-color: #efe2ba;
    width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 5px black;
    box-sizing: border-box;
}

header {
    font-size: large;
    color: black;
    text-align: center;
    padding-bottom: 50px;
    background-color: #ffbb01;
    padding-top: 50px;
}

#intro-text {
    padding-top: 100px;
    text-align: center;
    font-size: 23px;
}

#blog-list {
    text-align: center;
    font-size: 19px;
    padding: 20px;
}

#topic-header {
    padding-top: 40px;
    padding-left: 30px;
    text-align: left;
}

#main-text {
    padding: 40px;
}

.css-code-snippet {
    text-align: left;
    margin: auto;
    padding-right: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#background {
    background: #333;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* demo css code */

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

/* end demo code */

#p2 {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 20px;
}

#p1 {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px;
}

#p3, #p4, #p5 {
    text-align: left;
    padding-bottom: 30px;
}

#p6 {
    text-align: center;
    padding: 25px;
    padding-bottom: 20px;
    font: sans-serif;
    font-size: 25px;
}

#back-to-main {
    text-align: center;
    padding-bottom: 30px;
}